*{
    margin: 0;
    padding: 0;
}
.Doctor-container{ 
    margin: 20px 35px;
    border-radius: 10px;
    border: 2px solid black;
    height: 400px;
    width: 300px;
}
.Doctor-img-div{ 
    border-radius: 10px;
    height: 270px;
    width: 100%;
    border-bottom: 1px solid gray;
}
.Doctor-img-div > img{
    border-radius: 15px;
    height: 100%;
    width: 100%
}
.Doctor-info-div{
    text-align: center;
    align-items: center;
}
.Doctor-info-div > h2{
    margin-top: 10px;
}
.Doctor-info-div > p{
    
    margin: 5px;
    padding: 0;
}
.Doctor-info-div >p> span{
    font-weight: bold;
}
